[euca2ools-release]
name=euca2ools-release
mirrorlist=http://mirrors.eucalyptus.com/mirrors?product=euca2ools&distro=centos&releasever=$releasever&basearch=$basearch&version={{ euca2ools_version }}
gpgkey=file:///etc/pki/rpm-gpg/euca2ools-release.pub
gpgcheck=0
enabled=1
