[eucalyptus-release]
name=eucalyptus-release
mirrorlist=http://mirrors.eucalyptus.com/mirrors?product=eucalyptus&distro=centos&releasever=$releasever&basearch=$basearch&version={{ euca_version }}
gpgkey=file:///etc/pki/rpm-gpg/eucalyptus-release.pub
gpgcheck=0
enabled=1
