[eucalyptus-nightly]
name=eucalyptus-nightly
mirrorlist=http://packages.release.eucalyptus-systems.com/api/1/genrepo?distro=centos&releasever=$releasever&arch=$basearch&url=repo-euca@git.eucalyptus-systems.com:eucalyptus.git&ref={{ eucalyptus_version }}
gpgkey=file:///etc/pki/rpm-gpg/eucalyptus-pre-release.pub
gpgcheck=0
enabled=1
