[eucalyptus-nightly]
name=eucalyptus-nightly
mirrorlist=http://packages.release.eucalyptus-systems.com/api/1/genrepo/?distro=rhel&releasever=6Server&arch=x86_64&url=repo-euca@git.eucalyptus-systems.com:eucalyptus.git&ref=testing
gpgkey=file:///etc/pki/rpm-gpg/eucalyptus-pre-release.pub
gpgcheck=0
enabled=1
