{% set iface = 'ansible_' + bridge_iface %}
{% set chosenif = hostvars[inventory_hostname][iface] %}
DEVICE={{ bridge }}
TYPE=Bridge
BOOTPROTO=static
IPADDR={{ chosenif.ipv4.address }}
NETMASK={{ chosenif.ipv4.netmask }}
GATEWAY={{ nc_gateway }}
ONBOOT=yes
DELAY=0
